.archive {
    @include breakpoint($large) {
        width: calc(100% - #{$mysidebar-width} - 1em); // -1em from _mixins for padding of <div id='main'>.
    }
    .archive__item {
        .archive__item-title {
            font-size: $h-size-3-general;
        }
        .archive__item-title > a {
            text-decoration: none;
        }
        &:hover {
            .archive__item-title > a, .archive__item-excerpt {
                text-decoration: underline;
            }
        }
    }
}
