.archive {
    @include breakpoint($large) {
        width: calc(100% - #{$mysidebar-width} - 1em); // -1em from _mixins for padding of <div id='main'>.
        padding-left: 1em;
    }
    .archive__item {
        .archive__item-title {
            font-size: $h-size-3-general;
        }
        .archive__item-title > a {
            text-decoration: none;
        }
        &:hover {
            .archive__item-title > a, .archive__item-excerpt {
                text-decoration: underline;
            }
        }
    }
}

.layout--home {
    .archive {
        #page-title {
            margin-bottom: 0;
        }
        .archive__subtitle:first-of-type {
            margin-top: 0;
        }
    }
}
