.gsc-input-box {
    table {
        margin-bottom: 0;
    }
}
.gsc-input {
    input {
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
        overflow-y: hidden;
    }
}

.adsbygoogle {
    & + script {
        display: none;
    }
}

.sidebar__right.sticky {
    max-height: none;
}
