.mfp-image-holder,
.mfp-iframe-holder {
  .mfp-content .mfp-figure {
    position: relative;
    .mfp-close {
      cursor: pointer;
      position: absolute;
      top: -44px;
      width: 44px;
      text-align: center;
    }
    figure {
      img {
        cursor: initial;
        padding: 0;
      }
      figcaption {
        .mfp-bottom-bar {
          margin-top: 4px;
          .mfp-title {
            a {
              color: white;
              font-family: $sans-serif;
            }
          }
        }
      }
    }
  }
}
