.img-popup {
  img {
    cursor: pointer;
  }
}
.mfp-image-holder,
.mfp-iframe-holder {
  .mfp-content .mfp-figure {
    position: relative;
    padding: 0;
    .mfp-close {
      display: none;
    }
    figure {
      margin: 0 60px;
      img {
        cursor: initial;
        padding: 0 0 40px 0;
      }
      figcaption {
        .mfp-bottom-bar {
          .mfp-title {
            padding-left: 60px;
            a {
              color: white;
              font-family: $sans-serif;
            }
          }
          .mfp-counter {
            padding-right: 60px;
          }
        }
      }
    }
  }
}
