.masthead {
    // [Warning] fixed topbar covers content. If we use inner page link(move to #anchor),
    //      the browser scroll view's top coordinate to #anchor's top coordinate.
    //      but, top coordinate was occupied by topbar.
    position: fixed;  // masthead always will be top of the site.
    width: 100%; // It is needed by 'position: fixed;'. I am not sure why it's needed suddenly..
    top: 0;
    height: $mymasthead-height;

    border: 0;
    background-color: $footer-background-color;
    .masthead__inner-wrap {
        padding: 0 1em 0;
        width: 100%;
        height: 100%;
        .masthead__menu {
            width: inherit;
            height: inherit;
            .greedy-nav {
                background-color: inherit;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
                @include breakpoint($medium) {
                    align-items: flex-end;
                }
            }
        }
    }
}

// responsive menu style
.greedy-nav {
    a {
        color: $mymasthead-text-color;  // contrast skin has black text color and it is not suitable.
    }

    // Home Title and Logo at Left Top
    .site-logo {
        height: $mymasthead-home-height;
        display: flex;
        align-items: center;
        img {
            max-width: 1.5em;
            max-height: 1.5em;
        }
    }
    .site-title {
        color: $mymasthead-text-color;
        font-size: 1.3em;
        height: $mymasthead-home-height;
        display: flex;
        align-items: center;
    }

    // dropdown menu shared by visible- & hidden-links
    .dropdown-set {
        margin: 0 0.7rem 0 1rem;
        display: table;

        .dropdown-title {
            height: $nav-height;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
        }

        .dropdown-icon {
            height: $nav-height;
            display: table-cell;
            margin: 0;
            vertical-align: middle;
            text-align: right;
            width: 100%;
            padding-left: 0.3em;
        }
    }

    .visible-links {
        overflow: visible; //dropdown menu will appeared on the <nav> tag
        font-size: 1.1em;
        height: $mymasthead-menu-height;

        a {  // it let be hard to understand for any other tag's padding or margin.
            margin: 0;
            padding: 0;
        }

        .masthead__menu-item {
            display: none;
            @include breakpoint($medium) {
                display: block;
            }
            position: relative; // for dropdown menu right align to it's parent.

            &:hover {
                background-color: $mymasthead-text-color;
                a {
                    color: $text-color;
                }
                // transition: all 0.2s ease-in-out;  // i can't decide it is better or not.
            }

            &:hover .masthead__submenu {
                clear: both;
                left: auto;
                right: 0;
            }
        }

        .masthead__submenu {
            left: -9999px;
            position: absolute;
            margin-right: -1px;  // shift border line to right a little. It looks good more.
            border-width: 0px 1px 1px 1px;
            border-color: $text-color;
            border-style: solid;
            background-color: $background-color;
            min-width: 1rem;

            a {
                padding: 0.1em 0.5em;
            }

            .masthead__submenu-item {
                &:hover {
                    background-color: $navicon-link-color-hover;
                }
                .masthead__submenu-item-title {
                    color: $text-color;
                }
            }
        }
    }

    .search__toggle {
        align-self: center;
        @include breakpoint($medium) {
            align-self: flex-end;
        }
    }

    .greedy-nav__toggle {
        display: block;
        visibility: visible;
        @include breakpoint($medium) {
            display: none;
        }
    }

    /* hidden-links for responsive web */
    .hidden-links {
        margin-top: 0;
        right: -1em;  // For pushing menu to the right of view. It came from masthead__inner-wrap padding-right.
        width: 85%;
        @include breakpoint($medium) {
            display: none;
        }

        a {
            margin: 0;
            padding: 0;
            color: $text-color;  // contrast skin has black text color and it is not suitable.
        }

        .masthead__menu-item {
            font-size: 1.2rem;
        }

        .masthead__submenu {
            position: relative;
            background: $background-color;
        }

        .masthead__submenu-item {
            margin: 0 1rem;
            font-size: 1rem;
            overflow-x: hidden;
            .masthead__submenu-item-title {
                padding: .3em 0;
            }
        }
    }
}
