.masthead {
    // [Warning] fixed topbar covers content. If we use inner page link(move to #anchor),
    //      the browser scroll view's top coordinate to #anchor's top coordinate.
    //      but, top coordinate was occupied by topbar.
    // position: fixed;  // masthead always will be top of the site.
    // width: 100%; // It is needed by 'position: fixed;'. I am not sure why it's needed suddenly..

    border: 0;
    background-color: $footer-background-color;
    .masthead__inner-wrap {
        padding-bottom: 0;
        .masthead__menu {
            height: 2em;
            .greedy-nav {
                background-color: inherit;
            }
        }
    }
}

// responsive menu style
.greedy-nav {
    a {
        color: $mymasthead-text-color;  // contrast skin has black text color and it is not suitable.
    }

    // Home Title and Logo at Left Top
    .site-logo {
        img {
            min-width: 1.5em;
            min-height: 1.5em;
        }
    }
    .site-title {
        color: $mymasthead-text-color;
        margin-top: 0.3em;

        &:hover {  // prevent to change text color to black when a:hover in contrast skin.
            color: $mymasthead-text-color;
        }
    }

    // dropdown menu shared by visible- & hidden-links
    .dropdown-set {
        margin: 0 0.7rem 0 1rem;
        display: table;

        .dropdown-title {
            height: $nav-height;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
        }

        .dropdown-icon {
            height: $nav-height;
            display: table-cell;
            margin: 0;
            vertical-align: middle;
            text-align: right;
            width: 100%;
            padding-left: 0.3em;
        }
    }

    .visible-links {
        overflow: visible; //dropdown menu will appeared on the <nav> tag

        a {  // it let be hard to understand for any other tag's padding or margin.
            margin: 0;
            padding: 0;
        }

        .masthead__menu-item {
            position: relative; // for dropdown menu right align to it's parent.

            a, i {
                transition: none;  // dont animate without my permission, please!!  ㅠㅠ
            }

            &:hover {
                background-color: $mymasthead-text-color;
                a {
                    color: $text-color;
                }
                // transition: all 0.2s ease-in-out;  // i can't decide it is better or not.
            }

            &:hover .masthead__submenu {
                clear: both;
                left: auto;
                right: 0;
            }
        }

        .masthead__submenu {
            left: -9999px;
            position: absolute;
            margin-right: -1px;  // shift border line to right a little. It looks good more.
            border-width: 0px 1px 1px 1px;
            border-color: $text-color;
            border-style: solid;
            background-color: $background-color;
            min-width: 1rem;

            a {
                padding: 0.1em 0.5em;
            }

            .masthead__submenu-item {
                &:hover {
                    background-color: $navicon-link-color-hover;
                }
                .masthead__submenu-item-title {
                    color: $text-color;
                }
            }
        }
    }

    .hidden-links {
        a {
            margin: 0;
            padding: 0;
            color: $text-color;  // contrast skin has black text color and it is not suitable.
        }
        .masthead__menu-item {
            .masthead__submenu {
                display: none;
            }
            &:hover {
                .masthead__submenu {
                    display: block;
                }
            }
        }

        .masthead__submenu {
            position: relative;
            background: $background-color;
        }

        .masthead__submenu-item {
            margin: 0 1rem;
            font-size: 1em;
        }
    }
}
