// for recent posts in main home layout
.archive__item {
  margin-bottom: 10px;
  .page-meta {
    margin: 0 0 4px;
    line-height: 1.2;
    .page__header-taxonomy {
      font-size: .75em;
      a {
        &:hover {
          background-color: mix(#000, #fff, 25%);
        }
      }
    }
    .page__header-meta {
      font-size: .75em;
    }
  }
}
