.sidebar {
    // [Warning] fixed topbar covers content. If we use inner page link(move to #anchor),
    //      the browser scroll view's top coordinate to #anchor's top coordinate.
    //      but, top coordinate was occupied by topbar.
    // masthead position is fixed. So, padding from masthead__inner-wrap + height masthead__menu
    top: calc(#{$mymasthead-height} + 0.5em);  // masthead height + a little additional space

    .nav__list {
        margin-top: 0;
        & .nav__items {
            font-size: $mysidebar-font-size;
            li {
                .nav__sub-title {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    cursor: pointer;

                    .nav__sub-title-set {
                        display: flex;
                        width: 100%;
                        .nav__sub-title-dropdownicon {
                            flex: 1 0 auto;
                            text-align: right;
                        }
                    }
                }
            }
            & ul.nav__item-children {
                text-align: right;
                margin-bottom: 0;
                overflow-y: hidden;
                max-height: 0;
                -webkit-transition: all 200ms linear;
                transition: all 200ms linear;
                @for $nitem from 0 through 20 {
                    &.children-#{$nitem}.show {
                        max-height: calc(2em * #{$nitem});
                        -webkit-transition: all 200ms linear;
                        transition: all 200ms linear;
                    }
                }
            }
        }
        #ac-toc, label[for=ac-toc] {
            display: none;
        }
    }

    .author__content {
        .author__bio {
            font-size: $author-bio-font-size;
        }
    }
    .author__urls-wrapper {
        font-size: $author-bio-font-size;
    }

    &.sticky { // Only when sidebar sticky, specifically
        // [Warning] fixed topbar covers content. If we use inner page link(move to #anchor),
        //      the browser scroll view's top coordinate to #anchor's top coordinate.
        //      but, top coordinate was occupied by topbar.
        position: sticky;  // change 'sticky' to 'fixed'.
        opacity: 1;  // Remove row opacity animation After/Before hovering

        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: black;
            border-radius: 2px;
            opacity: .4;
        }
        &::-webkit-scrollbar-track {
            background: $navicon-link-color-hover;
        }

        width: $mysidebar-width;  // important! it decide scrollbar position!

        .nav__list {
            width: $mysidebar-width - $mysidebar-scroll-width;
        }

        .author__profile-set {
            width: $mysidebar-width - $mysidebar-scroll-width;
            margin-bottom: 0;

            .author__avatar {
                width: auto;
                height: auto;
            }

            .author__content {
                padding-right: 0;
            }

            .author__urls {
                &.social-icons {
                    a, span {
                        padding: 0;
                    }
                    li {
                       a {
                           font-size: 1.5em;
                       }
                    }
                    li[itemprop="homeLocation"] {
                        i {
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }

    // When sidebar is not sticky
    .author__avatar {
        width: 70px;
        height: 70px;
    }

    .author__content {
        padding-right: 15px;
    }

    & .author__urls-wrapper {
        cursor: none;
        ul.social-icons {
            margin-top: 10px;
        }
        .social-icons {
            li {
                display: inline-block;
                margin: 4px 0 0 0;
                a {
                    padding: 0;
                    margin-bottom: 0;
                    font-size: 1.5em;
                }
                span {
                    padding: 0 5px 0 0;
                }
            }
            li[itemprop="homeLocation"] {
                display: list-item;
                padding-top: 0;
                i {
                    font-size: 1.2em;
                }
            }
        }
        .btn {
            font-size: 1em;
        }
    }
}

.sidebar__right {
    &.sticky {
        top: calc(#{$mymasthead-height} + 0.5em);
    }
    .toc {
        .nav__title {
            margin-top: 0;
        }
    }
}