.highlighter-rouge {
    .highlight {
        border-radius: 4px;
    }
}

table.rouge-table {
    overflow-x: hidden;
    tbody {
        td.rouge-gutter {
            pre {
                padding-bottom: 1em;  // equal with td.rouge-code pre height
            }
        }
        td.rouge-code {
            padding-left: 0.5em;
            // very challenging scrollbar...
            //   I don't know why it work...
            display: table-cell;
            max-width: 0;
            width: 100%;
            pre::-webkit-scrollbar {
                height: 1em;
            }
            pre::-webkit-scrollbar-thumb {
                border: 3px solid rgba(0, 0, 0, 0);
                background-clip: padding-box;
                -webkit-border-radius: 8px;
                background-color: #6272a4;
                opacity: .4;
                width: 100px;
            }
            pre::-webkit-scrollbar-button {
                width: 0;
                height: 0;
                display: none;
            }
            pre::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        }
    }
}
