#wholetoc {
  line-height: 1.25;
  a {
    color: $text-color;
    text-decoration-line: none;
  }
  ul, li {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  #wholetoc__title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7em;
    border-top: 4px inset $border-color;
    border-bottom: 4px outset $border-color;
  }
  /*
    options
  */
  .wholetoc__opt-list {
    margin-top: 4em;
  }
  .wholetoc__opt-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    &:not(:first-child) {
      margin-top: 4px;
    }
  }
  .wholetoc__opt-set {
    display: flex;
    align-items: center;
    input, label {
      display: inline-block;
    }
    button, select, span, label {
      font-size: .85em;
    }
    button {
      margin: 0 2px;
      padding: 0 6px;
    }
    select {
      border: 1px solid rgb(133, 133, 133);
      padding: 0 4px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 4px;
    }
    span {
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;          /* Likely future */
      padding-left: 3px;
    }
    label {
      padding-left: 3px;
      margin: 0;
    }
  }
  .view-style-msg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .85em;
    vertical-align: middle;
  }
  .view-style {
    display: inline-block;
    label {
      display: inline-block;
    }
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      & + img {
        cursor: pointer;
        width: $wholetoc-opt-view-icon-width;
        max-width: $wholetoc-opt-view-icon-width;
      }
      &:checked + img {
        outline: 1px solid black;
      }
    }
  }

  /*
    contents
  */
  .wholetoc__category-list {
    position: relative;
  }
  .wholetoc__category {
    position: relative;
    &:not([depth="0"]) {
      padding-left: $wholetoc-indent-size;
    }
    &:not([depth="0"]):before {
      content: '';
      position: absolute;
      border-left: 1px solid $border-color;
      height: 100%;
      left: $wholetoc-category-branch-v-left;
    }
    &:not([depth="0"]):last-child:before {
      height: $wholetoc-category-branch-last-v-height;
    }
    &:not([depth="0"]):after {
      content: '';
      position: absolute;
      border-top: 1px solid $border-color;
      width: $wholetoc-category-branch-h-width;
      top: $wholetoc-category-branch-last-v-height;
      left: $wholetoc-category-branch-v-left;
    }
  }
  .wholetoc__category-title {
    padding-top: $wholetoc-category-padding-top;
    font-weight: bold;
    &[depth="0"] {
      border-bottom: 1px solid black;
      a {
        line-height: 1.5;
        font-size: $h-size-2-general;
      }
    }
    .wholetoc__category-title-icon {
      text-align: left;
      width: $wholetoc-indent-size;
      font-size: $wholetoc-category-icon-size;
      cursor: pointer;
    }
  }
  .wholetoc__category-stat {
    margin-left: 6px;
    font-weight: normal;
    color: gray;
    font-size: .8em;
  }
  /* Post View Style: list */
  .wholetoc__post-list.view-style__list {
    position: relative;
    .wholetoc__post {
      position: relative;
      .wholetoc__post-wrapper {
        padding-top: $wholetoc-post-padding-top;
        padding-left: $wholetoc-indent-size;
      }
      &:before {
        content: '';
        position: absolute;
        border-left: 1px solid $border-color;
        left: $wholetoc-category-branch-v-left;
        height: 100%;
      }
      &:last-child:before {
        height: $wholetoc-post-branch-last-v-height;
      }
      &.continuous:before {
        height: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        border-top: 1px solid $border-color;
        width: $wholetoc-category-branch-h-width;
        top: $wholetoc-post-branch-last-v-height;
        left: $wholetoc-category-branch-v-left;
      }
    }
  }
  /* Post View Style: card */
  .wholetoc__post-list.view-style__card {
    position: relative;
    padding-left: $wholetoc-indent-size;
    &:before {
      content: '';
      position: absolute;
      border-left: 1px solid $border-color;
      left: $wholetoc-category-branch-v-left;
      height: 100%;
    }
    &:last-child:before {
      border: 0;
    }
    display: flex;
    flex-flow: row wrap;
    font-size: $wholetoc-view-card-font-size-small;
    @include breakpoint($small) {
      font-size: $wholetoc-view-card-font-size-large;
    }
    .wholetoc__post {
      position: relative;
      padding-bottom: 5px;
      .wholetoc__post-wrapper {
        display: flex;
        border: 1px solid $border-color;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
        width: $wholetoc-view-card-width-small;
        height: 100%;
        min-height: $wholetoc-view-card-width-small;
        margin: 5px;
        a {
          display: flex;
          padding: 5px;
          width: 100%;
          align-items: center;
          text-align: center;
          justify-content: center;
          word-break: break-word;
        }
        @include breakpoint($small) {
          width: $wholetoc-view-card-width-large;
          min-height: $wholetoc-view-card-width-large;
        }
      }
    }
  }
}
