#wholetoc {
    line-height: 1;
    #wholetoc__title {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.7em;
        border-top: 4px inset $border-color;
        border-bottom: 4px outset $border-color;
    }
    .wholetoc__opt-list {
        margin-top: 4em;
    }
    .wholetoc__opt-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        &:not(:first-child) {
            margin-top: 4px;
        }
    }
    .wholetoc__opt-set {
        display: flex;
        align-items: center;
        input, label {
            display: inline-block;
        }
        button, select, span, label {
            font-size: .85em;
        }
        button {
            margin: 0 2px;
            padding: 0 6px;
        }
        select {
            border: 1px solid black;
            padding: 0 4px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 4px;
        }
        span {
            -webkit-user-select: none;  /* Chrome all / Safari all */
            -moz-user-select: none;     /* Firefox all */
            -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */
            padding-left: 3px;
        }
        label {
            padding-left: 3px;
            margin: 0;
        }
    }
    a {
        color: $text-color;
        text-decoration-line: none;
    }
    ul, li {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
    }
    .wholetoc__category-title {
        padding-top: $wholetoc-item-padding-top;
        padding-bottom: 0;
        a {
            display: inline-flex;
            align-items: center;
            font-weight: bold;
        }
        &[indentation-level="0"] {
            border-bottom: 1px solid black;
            a {
                font-family: $sans-serif;
                line-height: 1.5;
                font-weight: bold;
                font-size: $h-size-2-general;
            }
        }
        & .wholetoc__category-title-icon {
            display: inline-block;
            text-align: left;
            width: $wholetoc-indent-size;
            font-size: .8em;
            cursor: pointer;
        }
    }
    .wholetoc__category-stat {
        margin-left: 6px;
        font-weight: normal;
        color: gray;
        font-size: .8em;
    }
    .wholetoc__category-inner {
        overflow-y: visible;
        height: auto;
        &.fold {
            overflow-y: hidden;
            height: 0;
        }
    }
    .wholetoc__post-item {
        div {
            padding-top: $wholetoc-item-padding-top;
            padding-bottom: 0;
            margin: 0;
        }
    }
    .wholetoc__post-item:not([indentation-level="0"]), .wholetoc__category-item:not([indentation-level="0"]) {
        position: relative;
        padding-left: $wholetoc-indent-size;
    }
    .wholetoc__post-item:not([indentation-level="0"]):before, .wholetoc__category-item:not([indentation-level="0"]):before {
        content: '';
        position: absolute;
        left: $wholetoc-inherit-vline-left;
        border-left: 1px solid $border-color;
        width: 1px;
        height: 100%;
    }
    .wholetoc__post-item:not([indentation-level="0"]):last-child:before, .wholetoc__category-item:not([indentation-level="0"]):last-of-type:before {
        height: $wholetoc-inherit-vline-last-height;
    }
    .wholetoc__post-item:not([indentation-level="0"]):after, .wholetoc__category-item:not([indentation-level="0"]):after {
        content: '';
        position: absolute;
        top: $wholetoc-inherit-vline-last-height;
        left: $wholetoc-inherit-vline-left;
        border-top: 1px solid $border-color;
        width: $wholetoc-inherit-hline-width;
        height: 1px;
    }
}