/*
Responsive Size Format: [size attr]-[Medium]-[Large]
*/
.width-100-100 {
    width: 100%;
}

.width-80-100 {
    width: 100%;
    @include breakpoint($medium) {
        width: 80%;
    }
}

/* Footnotes */
.footnote {
    color: $link-color;
}

.footnotes {
    color: $text-color;
    margin-top: 16px;
    border-top: 1px solid #bfbfbf;

}

a.reversefootnote {
    color: $link-color;
}
