// nav-remocon
$nav-remocon-min-width: 70px;
$nav-remocon-background-color: rgba(255,255,255,.8);
$nav-remocon-border-color: $border-color;
$nav-remocon-arrow-height: 7px;
$nav-remocon-arrow-width: 50px;
$nav-remocon-arrow-color: $base02;
$nav-remocon-btn-set-height: 1.2em;

// masthead
$mymasthead-text-color: white;  // text color is white, basically.
$mymasthead-height: 3em;

// sidebar
$mysidebar-width: 216px;  // sidebar width + scroll bar space
$mysidebar-scroll-width: 16px;
