// masthead
$mymasthead-text-color: white;  // text color is white, basically.

// sidebar
$mysidebar-width: 216px;  // sidebar width + scroll bar space
$mysidebar-scroll-width: 16px;

// post
.archive {
    @include breakpoint($large) {
      font-size: $type-size-6;
    }
}
