{% assign submenu_class = include.submenu_class | default: "" %}

{%- for link in site.data.navigation.main -%}
{% if link.dropdown.size == null %}
<li class="masthead__menu-item">
  <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}><div class="dropdown-set"><div class="dropdown-title">{{ link.title }}</div><div class="dropdown-icon"></div></div></a>
</li>
{% else %}
<li class="masthead__menu-item dropdown">
  <a href="javascript:;"><div class="dropdown-set"><div class="dropdown-title">{{ link.title }}</div><div class="dropdown-icon"><i class="fas fa-caret-down"></i></div></div></a>
  <ul class="masthead__submenu {{ submenu_class }}">
  {% for sublink in link.dropdown %}
  <li class="masthead__submenu-item"><a href="{{ sublink.url | relative_url }}" target="_blank" rel="noopener noreferrer"{% if sublink.description %} title="{{ sublink.description }}"{% endif %}>
    <div class="masthead__submenu-item-title">{{ sublink.title }}</div></a></li>
  {% endfor %}
  </ul>
</li>
{% endif %}
{%- endfor -%}
