<nav class="post-pagination hidden {{ include.type }}" data-categories="{{ page.categories | join: "/" }}">
  <a class="pagination__pager pager-prev" rel="prev"><div class="pager-arrow">&laquo;&ndash; </div><div class="pager-title"></div></a>
  <a class="pagination__pager pager-next" rel="next"><div class="pager-title"></div> <div class="pager-arrow">&ndash;&raquo;</div></a>
  <!--
    floating 요소의 크기를 고려하는 wrapper 생성 방법
    https://stackoverflow.com/questions/2073087/wrapper-question-when-containing-floating-divs
    1. overflow: auto;
    2. <br style="clear:both" />
  -->
</nav>
