<div id='nav-remocon' class='fold'>
  <div id='nav-fold-upper-button' onclick="navRemoconFold(this)"><div id='nav-fold-arraw-upper' class='nav-arrow-up'></div></div>
  <ul id='nav-buttons' class='nav-buttons'>
    <li class='nav-btn-set'>
      <div class='nav-btn-title-wrapper' onclick="navRemoconGoToTop()"><i class='fas fa-angle-up fa-fw'></i></div>
      <div class='nav-btn-vl'></div>
      <div class='nav-btn-title-wrapper' onclick="navRemoconGoToBottom()"><i class='fas fa-angle-down fa-fw'></i></div>
    </li>
    <li class='nav-btn-set nav-btn-set__foldable nav-btn-set__fold'><div class='nav-btn-title-wrapper' onclick="javascript: location.href= '/';"><i class='fas fa-home fa-fw'></i><span class="nav-btn-title">Home</span></div></li>
    <li class='nav-btn-set nav-btn-set__foldable nav-btn-set__fold'><div class='nav-btn-title-wrapper' onclick="navRemoconGoToUrl('{{ site.repository }}')"><i class='fas fa-pencil-alt fa-fw'></i><span class="nav-btn-title">제안</span></div></li>
  </ul>
  <div id='nav-fold-lower-button' onclick="navRemoconFold(this)"><div id='nav-fold-arraw-lower' class='nav-arrow-down'></div></div>
</div>
