<div id='nav-remocon'>
    <div class='nav-remocon-wrapper'>
        <div id='nav-collapse-button' onclick=''><i id='nav-collapse-icon' class="fas fa-plus"></i></div>
        <ul class='nav-buttons'>
            <li class='nav-btn-set' onclick="goToTop()"><i class='fas fa-angle-up collapsable'></i><span class="nav-btn-title collapsable">Top</span></li>
            <li class='nav-btn-set collapsable' onclick="javascript: location.href= '/';"><i class='fas fa-home'></i><span class="nav-btn-title">Home</span></li>
        </ul>
    </div>
</div>