{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">
  {% if page.sidebar.nav %} {% include sidebar_meta.html %} {% include
  nav_list.html nav=page.sidebar.nav %} {% endif %} {% if page.author_profile or
  layout.author_profile %}{% include author-profile.html %}{% endif %}
  <a
    class="bmc-btn-container"
    href="https://www.buymeacoffee.com/whitesw01"
    target="_blank"
    rel="noopener noreferrer nofollow"
  >
    <img src="/assets/images/icon/bmc_icon.svg" alt="Buy me a coffee" />
    <span>Buy me a coffee</span>
  </a>
</div>
{% endif %}
