<div markdown="1">
  <h2>논문 해석의 분할 구조</h2>
</div>
<table id="paper-revision-desc">
  <thead>
    <tr style="text-align: center">
      <th style="text-align: center">분할명</th>
      <th style="text-align: center">특징</th>
    </tr>
  </thead>
  <tr class="struct-style-paper-origin">
    <td style="text-align: center">원문</td>
    <td>
      배경색:
      <div class="md-paper-origin">&nbsp;</div>
    </td>
  </tr>
  <tr class="struct-style-paper-translated">
    <td style="text-align: center">번역문</td>
    <td>
      원문의 번역. 원문 단락 아래에 위치.<br />
      배경색:
      <div class="md-paper-translated">&nbsp;</div>
    </td>
  </tr>
  <tr class="struct-style-paper-interpreted">
    <td style="text-align: center">해석문</td>
    <td>
      개인적 의견. 번역문 단락 아래에 위치.<br />
      배경색:
      <div class="md-paper-interpreted">&nbsp;</div>
    </td>
  </tr>
</table>
