<div markdown="1">
## 논문 해석의 분할 구조
</div>
<table>
<tr style="text-align: center;">
<td>분할명</td><td>특징</td>
</tr>
<tr>
<td style="text-align: center;">원문</td><td>배경색: <div class="md-paper-origin" style="display: inline-block; width: 20px;">&nbsp;</div></td>
</tr>
<tr>
<td style="text-align: center;">번역문</td><td>특징 없음. 원문 바로 아래에 위치.</td>
</tr>
<tr>
<td style="text-align: center;">개인적 의견</td><td>번역문과 함께 배치.<br/>배경색: <div class="md-paper-interpreted" style="display: inline-block; width: 20px;">&nbsp;</div></td>
</tr>
</table>
