---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "mycustoms";  // sammy customs

.author__bio {
    font-size: medium;
}

.author__urls.social-icons li span {
    font-size: small;
}

.page__footer-follow a {
    padding-right: 0px;
}
