---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% if page.url != "/" and site.breadcrumbs %}
      {% include my-breadcrumbs.html %}
    {% endif %}
    <div id="wholetoc">
      <div class="memo" hidden data-type="toc"></div>
      <h1 id="wholetoc__title">Table Of Contents</h1>
      <div class="wholetoc__opt-list">
        <div class="wholetoc__opt-row">
          <div class="wholetoc_opt-set">
            <span class="view-style-msg">보기 스타일:</span>
            <div class="view-style">
              <label class="view-style-opt"><input type="radio" name="view-style" value="list" checked></input><img src="/assets/images/icon/view_list.ico"></img></label>
              <label class="view-style-opt"><input type="radio" name="view-style" value="card"></input><img src="/assets/images/icon/view_card.ico"></img></label>
            </div>
          </div>
        </div>
        <div class="wholetoc__opt-row">
          <div class="wholetoc__opt-set"><button type="button" id="opt_foldAll">모두 접기</button></div>
          <div class="wholetoc__opt-set"><button type="button" id="opt_unfoldAll">모두 펼치기</button></div>
          <div class="wholetoc__opt-set">
          <select id="opt_fold-inDepth" onchange="tocFoldInDepth()">
            <option value="-">깊이</option>
          </select><span>이상 접기</span></div>
        </div>
        <div class="wholetoc__opt-row">
          <div class="wholetoc__opt-set"><input type="checkbox" id="opt_hide-posts"> <label for="opt_hide-posts">카테고리만 보기</label></div>
        </div>
      </div>
      {{ content }}
    </div>
  </div>
</div>
