---
layout: archive
classes: wide
---

{{ content }}

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

<div id="site-pagination-list" class=".entries-list"></div>

{% include ads/google/on_the_paginator.html %}

<div class="pagination paginator-area">
  <nav id="site-paginator"></nav>
  <div class="paginator-support">
    <div class="paginationjs-go-input"><input type="text"></input></div>
    <div class="paginationjs-go-button"><input type="button" value="Go"></input></div>
  </div>
</div>
