/* Simple Notice */
#simple-notice {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 99;
  background: black;
  width: fit-content;
  max-width: 260px;
  @include breakpoint($small) {
    max-width: 400px;
  }
  padding: 15px;
  margin-left: 16px;
  border-radius: 8px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;   /* Firefox all */
  -ms-user-select: none;    /* IE 10+ */
  user-select: none;      /* Likely future */
  .simple-notice__msg {
    flex-grow: 1;
    color: white;
    font-size: .8em;
    padding: 0;
    margin: 0 16px 0 0;
  }
  .simple-notice__btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 20px;
    padding: 0 16px;
    margin: 0;
    width: 100%;
    max-width: 35px;
    height: 35px;
    background-color:rgb(30, 30, 30);
    &:focus {
      outline: 0;
    }
    &:hover {
      background-color: rgb(50, 50, 50);
    }
    &:active:hover {
      background-color: rgb(70, 70, 70);
    }
    i {
      color: white;
    }
  }
}
