{% comment %} 현재 카테고리가 가진 직계 포스트들 post-order 변수로 정렬 후 나열하기 {% endcomment %}
{% assign start_url_origin = include.start_url %}

{% include functions/make_post_list_non_recursive.html start_url=include.start_url %}

{% comment %} 자손 카테고리가 있는지 확인 후 있다면 재귀함수 수행 {% endcomment %}
{% assign s_url_orig_list = start_url_origin | split: '/' %}
{% assign search_array = site.data.navigation.main-sidebar %}
{% assign initial_search_array = search_array %}

{% for s_url_item in s_url_orig_list %}
  {% for search_item in search_array %}
    {% assign search_item_title = search_item.title | downcase | replace: '%20', '-' | replace: ' ', '-'%}
    {% if search_item_title == s_url_item %}
      {% assign search_array = search_item.children %}
      {% assign children_depth =  children_depth | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign search_array_size = search_array | size %}
{% if search_array_size > 0 %}
  {% unless initial_search_array == search_array %}
  <ul>
    {% for item in search_array %}
    <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
    {% include functions/make_post_list.html start_url=item.url %}
    {% endfor %}
  </ul>
  {% endunless %}
{% endif %}
